<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Donald Trump Way</title>
    <link rel="icon" type="image/x-fcon" href="https://www.freeiconspng.com/thumbs/apple-png/red-fresh-shiny-apple-png-0.png">
    <link rel="stylesheet" th:href="@{/madspild.css}" href="../static/madspild.css" >
    <link rel="stylesheet" th:href="@{/article.css}" href="../static/article.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
</head>
<body>
<div id="header">
    <a th:href="@{/}" href="madspildHovedside.html"><img src="https://cdn-icons-png.flaticon.com/512/892/892930.png" alt="logo" style="width:50px;height:50px;margin:5px 0px 0px 10px;justify-content: left;"></a>
    <ul class="top">
        <li class="top"><a class="top" th:href="@{/}" href="madspildHovedside.html">Hjem</a></li>
        <li class="top"><a class="top" th:href="@{/info}" href="info.html">Om os</a></li>
        <li class="top"><a class="top" th:href="@{/kontakt}" ref="../../HTML&CSS/kontakt.htm">Kontakt</a></li>
    </ul>
    <a id="login" th:href="@{/login}" href="login.html">Login</a>
</div>
<br />
<div id="cover-img" style="height:500px;width:100%;background-image: url('https://m.media-amazon.com/images/I/71Ke2KajxeL.jpg')"></div>
<div id="content">
    <h1>Reducing Food Waste - Donald Trump Way</h1>
    <br /><br />
    <p>
    <span class="date">Sidst opdateret d. 05/07/2015</span><br />
    <span class="author">Skrevet af: Donald Trump</span>
    </p>
    <p>Food waste is a serious issue that we must address. We must learn to consume with care and avoid wasting precious resources. As Donald Trump once said, "We need to be good stewards of our environment."</p>
<p>Reducing food waste is not only a moral responsibility but also an economic opportunity. According to Donald Trump, "We can create jobs and save money by reducing waste."</p>
<p>So, what can we do to reduce food waste? Here are some tips from the Donald Trump playbook:</p>
<ul>
<li>Plan your meals in advance and only buy what you need</li>
<li>Store your food properly to extend its shelf life</li>
<li>Get creative with your leftovers and turn them into new meals</li>
<li>Donate excess food to local food banks or shelters</li>
</ul>
<p>As Donald Trump once said, "We must protect our resources and conserve our environment." By reducing food waste, we are not only protecting the environment but also conserving resources for future generations.</p>
<p>Reducing food waste is not only a responsibility of individuals but also businesses. According to Donald Trump, "Businesses have a responsibility to be good stewards of our environment and reduce waste."</p>
<p>Businesses can reduce food waste by implementing efficient inventory management, donating excess food to local organizations, and educating their employees and customers about the importance of reducing food waste.</p>
<p>In conclusion, reducing food waste is crucial for our environment and our economy. As Donald Trump once said, "We must be good stewards of our environment and protect our resources." Let's take action today to reduce food waste and create a more sustainable future.</p>
</div>
<!-- Footer -->
<div class="footer">
    <div class="container">
        <ul class="list">
            <li><h4>STOP MADSPILD</h4></li>
            <li><p>Holmens Kanal 2-12</p></li>
            <li><p>1092 København K.</p></li>
            <br>
            <li><p>Email: email@post.dk</p></li>
            <li><p>Telefon: 70123456</p></li>
        </ul>
        <ul class="list">
            <li><h4>ÅBNINGSTIDER:</h4></li>
            <br>
            <li>Man-Fre: Aldrig</li>
            <li>Lør-Søn: Aldrig</li>
            <li><br></li>
            <li><br><br></li>
        </ul>
        <ul class="list">
            <li><h4>FØLG OS:</h4></li>
            <br>
            <li><p>Facebook</p></li>
            <li><p>Twitter</p></li>
            <li><p>Truth Social</p></li>
            <li><p>Youtube</p></li>
        </ul>
    </div>
</div>
</body>
</html>