<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fremtidens løsninger og vores ansvar</title>
    <link rel="icon" type="image/x-fcon" href="https://www.freeiconspng.com/thumbs/apple-png/red-fresh-shiny-apple-png-0.png">
    <link rel="stylesheet" th:href="@{/madspild.css}" href="../static/madspild.css" >
    <link rel="stylesheet" th:href="@{/article.css}" href="../static/article.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
</head>
<body>
<div id="header">
    <a th:href="@{/}" href="madspildHovedside.html"><img src="https://cdn-icons-png.flaticon.com/512/892/892930.png" alt="logo" style="width:50px;height:50px;margin:5px 0px 0px 10px;justify-content: left;"></a>
    <ul class="top">
        <li class="top"><a class="top" th:href="@{/}" href="madspildHovedside.html">Hjem</a></li>
        <li class="top"><a class="top" th:href="@{/info}" href="info.html">Om os</a></li>
        <li class="top"><a class="top" th:href="@{/kontakt}" ref="../../HTML&CSS/kontakt.htm">Kontakt</a></li>
    </ul>
    <a id="login" th:href="@{/login}" href="login.html">Login</a>
</div>
<br />
<div id="cover-img" style="height:500px;width:100%;background-image: url('https://www.incimages.com/uploaded_files/image/1920x1080/hand-up_30926.jpg')"></div>
<div id="content">
    <h1>Fremtidens løsninger og vores ansvar</h1>
    <br /><br />
    <p>
    <span class="date">Sidst opdateret d. 30/09/2011</span><br />
    <span class="author">Skrevet af: Klog mand</span>
    </p>
    <p>Madspild er et globalt problem, og det er vigtigt, at vi alle arbejder på at reducere det. Her er nogle måder, vi kan forhindre madspild på:</p>
<ul>
<li>Planlægning af måltider: Ved at planlægge måltider og lave en indkøbsliste kan du undgå at købe mere end nødvendigt.</li>
<li>Korrekt opbevaring af mad: Ved at opbevare mad korrekt, kan du forlænge holdbarheden og undgå, at maden går til spilde.</li>
<li>Spis rester: Restemad kan nemt omdannes til en lækker og nærende måltid, så du undgår at smide mad ud.</li>
<li>Doner overskydende mad: Hvis du har mad til overs, kan du donere den til velgørende organisationer, som vil sørge for, at maden når ud til de mennesker, der har brug for den.</li>
</ul>
<p>Fremtiden for madspild er stadig usikker, men der er mange initiativer, der arbejder på at reducere mængden af madspild. Flere supermarkeder tilbyder nu reducerede priser på madvarer, der nærmer sig udløbsdatoen, og der er også flere organisationer, der arbejder på at genanvende overskydende mad. Der er også forskning i gang på at udvikle nye teknologier, der kan reducere spild i produktions- og distributionsprocessen.</p>
<p>Vi kan alle gøre vores del for at reducere madspild, og det er vigtigt, at vi fortsætter med at arbejde på dette problem for at sikre en bæredygtig fremtid for vores planet og dens beboere.</p>
</div>

<!-- Footer -->
<div class="footer">
    <div class="container">
        <ul class="list">
            <li><h4>STOP MADSPILD</h4></li>
            <li><p>Holmens Kanal 2-12</p></li>
            <li><p>1092 København K.</p></li>
            <br>
            <li><p>Email: email@post.dk</p></li>
            <li><p>Telefon: 70123456</p></li>
        </ul>
        <ul class="list">
            <li><h4>ÅBNINGSTIDER:</h4></li>
            <br>
            <li>Man-Fre: Aldrig</li>
            <li>Lør-Søn: Aldrig</li>
            <li><br></li>
            <li><br><br></li>
        </ul>
        <ul class="list">
            <li><h4>FØLG OS:</h4></li>
            <br>
            <li><p>Facebook</p></li>
            <li><p>Twitter</p></li>
            <li><p>Truth Social</p></li>
            <li><p>Youtube</p></li>
        </ul>
    </div>
</div>
</body>
</html>