<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Om os</title>
    <link rel="icon" type="image/x-fcon" href="https://www.freeiconspng.com/thumbs/apple-png/red-fresh-shiny-apple-png-0.png">
    <link rel="stylesheet" th:href="@{/madspild.css}" href="../static/madspild.css" >
    <link rel="stylesheet" th:href="@{/article.css}" href="../static/article.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>

<div id="header">
    <a th:href="@{/}" href="madspildHovedside.html"><img src="https://cdn-icons-png.flaticon.com/512/892/892930.png" alt="logo" style="width:50px;height:50px;margin:5px 0px 0px 10px;justify-content: left;"></a>
    <ul class="top">
        <li class="top"><a class="top" th:href="@{/}" href="madspildHovedside.html">Hjem</a></li>
        <li class="top"><a class="top active" th:href="@{/info}" href="info.html">Om os</a></li>
        <li class="top"><a class="top" th:href="@{/kontakt}" ref="kontakt.html">Kontakt</a></li>
    </ul>
    <a id="login" th:href="@{/login}" href="login.html">Login</a>
</div>
<br /><br />
    <div id="cover-img" style="height:500px;width:100%;background-image: url('https://cdn.britannica.com/36/123536-050-95CB0C6E/Variety-fruits-vegetables.jpg')"></div>
<div id="content">
    <h1>Om os</h1>
    <p>
        Vi er en gruppe dedikerede mennesker, der er passionerede omkring at bekæmpe madspild og skabe en mere bæredygtig fremtid for vores planet. Vi tror på, at enhver lille handling kan gøre en stor forskel, og at ved at samarbejde kan vi skabe en positiv forandring.
    </p>
    <p>
        Vores mission er at reducere madspild ved at samarbejde med fødevarevirksomheder, restauranter, supermarkeder og individuelle donorer for at forhindre spild af overskudsmad. Vi samler overskudsmad og distribuerer den til mennesker i nød og organisationer, der arbejder med at støtte dem. Vi arbejder også på at opbygge opmærksomhed omkring problemet med madspild og uddanne folk om, hvordan de kan reducere deres egen madspild.
    </p>
    <p>
        Vi mener, at hvert lille skridt tæller, og at sammen kan vi gøre en forskel. Vi tror på, at ved at samarbejde og dele vores ressourcer kan vi reducere madspild og opbygge en mere bæredygtig fremtid. Tak fordi du støtter vores mission, og lad os sammen arbejde for at bekæmpe madspild!
    </p>
</div>
    <div class="footer">
        <div class="container">
            <ul class="list">
                <li><h4>STOP MADSPILD</h4></li>
                <li><p>Holmens Kanal 2-12</p></li>
                <li><p>1092 København K.</p></li>
                <br>
                <li><p>Email: email@post.dk</p></li>
                <li><p>Telefon: 70123456</p></li>
            </ul>
            <ul class="list">
                <li><h4>ÅBNINGSTIDER:</h4></li>
                <br>
                <li>Man-Fre: Aldrig</li>
                <li>Lør-Søn: Aldrig</li>
                <li><br></li>
                <li><br><br></li>
            </ul>
            <ul class="list">
                <li><h4>FØLG OS:</h4></li>
                <br>
                <li><p>Facebook</p></li>
                <li><p>Twitter</p></li>
                <li><p>Truth Social</p></li>
                <li><p>Youtube</p></li>
            </ul>
        </div>
    </div>
</body>
</html>